@import url('http://fonts.googleapis.com/css?family=Open+Sans');

html {
	height: 100%;
}

body {
	padding: 0px;
	min-height: 100%;
	height: 100%;
	font-family: "Open Sans", "Verdana";
}

#wheel {
	width: 700px;
	margin: 0px auto;
	cursor: pointer;
    -webkit-transition: margin-left 2s;
    transition: margin-left 2s;
}

#wheelcanvas {
	display: none;
}

#spin {
	width: 80px;
	height: 30px;
	font-size: 18px;
	background-color: #a9f1bf;
	color: white;
}

#info {
    width: 0px;
    height: 100%;
    position: absolute;
    top: 70px;
    left: 0px;
    background-color: #ececec;
    -webkit-transition: width 1s;
    transition: width 1s;
    padding: 15px;
    overflow: auto;
}

#info .close {
	color: #000;
}

#map {
    height: 300px;
}

/* overlay styles, all needed */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.modal {
    display: block;
}

/* Bootstrap Overrides */
.navbar {
	height: 70px;
	margin-bottom: 0px;
}

.navbar-brand {
    height: 70px;
	padding: 10px 10px;
}

.navbar-nav>li>a {
    height: 70px;
}

.navbar-nav>li>a>span {
    vertical-align: middle;
}

.alert {
    width: 200px;
    position: fixed;
    top: 6em;
    right: 2em;
    z-index: 9;
}