@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
	padding: 0px;
	font-family: "Open Sans", "Verdana";
}

#wheel {
	width: 800px;
	margin: 0 auto;
	cursor: pointer;
}

#wheelcanvas {
	display: none;
}

#spin {
	width: 80px;
	height: 30px;
	font-size: 18px;
	background-color: #a9f1bf;
	color: white;
}

/* Bootstrap Overrides */
.navbar {
	height: 70px;
	line-height: 70px;
	margin-bottom: 0px;
}

.navbar-brand {
	padding: 10px 10px;
}